.App {
  text-align: center;
}

.burrito-container {
  position: relative;
  top: 300px;
  left: 0;
  width: 40%;
  margin: 0 auto;
}

.burrito {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
