html {
  min-height: 100%;
  margin: 0;

  background-image: linear-gradient(
    to right top,
    #040404,
    #0b0b0c,
    #111112,
    #161617,
    #1a1a1b,
    #1b1b1c,
    #1b1c1d,
    #1c1d1e,
    #191b1c,
    #171919,
    #151617,
    #121414
  );
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  width: 100%;
  font-size: 16px;
  color: white;
}
